.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indexHeader {
    font-size: 3em;
}

.indexDescription {
    font-size: 1em;
    margin-top: -3%;
    font-weight: bold;
}

.indexFreeText {
    font-size: 1em;
    font-style: italic;
}
