@import "../utils/variables";

.postWrapper {
    text-align: left;
    padding: 1.25rem;    
}

.postMetadata {
    font-family: $fontCode;
    display: block;
    background: $backgroundDarker;
    padding: 0.625rem;
}

dt, dd {
    line-height: 150%;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}

dt::after {
    content: ":";
}