@import "./utils/variables";

body {
  font-family: $fontParagraph;
  color: $white;
  background-color: $black-chocolate;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #3e92ccff;
}

a:hover {
  color: $cerise;
}

h1 {
  color: $carrot-orange;
}

h2 {
  color: $carrot-orange-w-10;
}

h3 {
  color: $carrot-orange-w-20;
}

h4 {
  color: $carrot-orange-w-30;
}

h5 {
  color: $carrot-orange-w-40;
}

h6 {
  color: $carrot-orange-w-50;
}


pre code {
  font-family: $fontCode;
  font-size: 75%;
  display: block;
  background: $backgroundDarker;
  padding: 10px;
  overflow: auto;
}

code {
  font-family: $fontCode;
  font-size: 75%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $fontHeader;
  }
}

@-ms-viewport{
  width: device-width;
}